body {
  font-family: "DM Sans", sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/scottsdale-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 250px;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  color: black;
  background-color: white;
  padding: 16px 23px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 32px;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 3px;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  opacity: 0.3;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 0;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  margin: 0;
}

main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
}

footer {
  background-image: linear-gradient(rgba(9, 30, 45, 0.9), rgba(9, 30, 45, 0.9)),
    url("../images/scottsdale-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 50px 150px;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.9;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul {
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

section.secondary {
  background-color: #f8f8f8;
  text-align: center;
  padding: 100px;
}

.btn {
  display: block;
  color: white;
  background-color: #022138;
  padding: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  border-radius: 5px;
}

.card {
  background-color: white;
  margin: 30px;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 20px;
}

.img-responsive {
  width: 100%;
  aspect-ratio: 4/3;
}

.embed {
  width: 100%;
  aspect-ratio: 4/3;
}

.scottsdale-img {
  max-width: 100%;
}

.why-scottsdale-section {
  padding: 50px;
  grid-gap: 40px;
}

.grid {
  display: grid;
}

.grid-footer {
  grid-template-columns: 1fr 2fr 2fr;
  padding: 50px 0px;
  grid-gap: 64px;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;
}

.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.gallery {
  text-align: center;
  padding: 100px 50px;
}

.footnote {
  font-size: 12px;
}

@media (max-width: 1050px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    margin: 30px 0;
    font-size: 48px;
  }

  header h2 {
    line-height: 1;
    margin: 30px 0;
    font-size: 20px;
  }

  header h3 {
    line-height: 1;
    margin: 30px 0;
    font-size: 12px;
  }

  header a {
    font-size: 10px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .scottsdale-img {
    display: none;
  }

  .card-header .embed {
    display: none;
  }

  .card-header img {
    aspect-ratio: 4/3;
  }
}
